<!-- Blog Content -->
<div class="container">
    <div class="row">
        {{loginInfo}}
        {{ls}} 
        {{UserName}}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Your Posts</p>
            <hr>
            <div ng-repeat="blog in blogs">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{blog.blogheading}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{blog.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted By <a href="#">{{blog.name}}</a> on {{blog.cdate}}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <p>Submit New Posts</p>
            <form name="blogForm" class="form-horizontal" ng-submit="doBlogAdd()" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Heading</label>
                        <input type="text" class="form-control" placeholder="Blog Heading" name="blogheading" ng-model="blog.blogheading" required>
                        <p class="help-block text-danger">
                            <div ng-show="blogForm.$submitted || blogForm.blogheading.$touched">
                            <span  style="color:red;" ng-show="blogForm.blogheading.$error.required">Required</span>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Description</label>
                        <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="blog.description" required></textarea>
                        <p class="help-block text-danger">
                            <div ng-show="blogForm.$submitted || blogForm.description.$touched">
                            <span  style="color:red;" ng-show="blogForm.description.$error.required">Required</span>
                            </div>
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" name="submit" ng-disabled="blogForm.$invalid" class="btn btn-success">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>