<!-- Blog Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <ui-view></ui-view>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Your Posts</p>
            <hr>
            <div ng-repeat="blog in blogs">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{blog.blogheading}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{blog.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted By <a href="#">{{blog.name}}</a> on {{blog.cdate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
